*{
	padding: 0;
	margin: 0;
	font-family:"Microsoft Yahei";
	box-sizing: border-box; 
}
body{
	background: white;
}
.container{
	height: 1386px;
	width: 980px;
	margin: 0 auto;
	background: #fff;
	padding: 0 44px 0 44px;
}
header{
	width: 892px;
	border-bottom: 2px solid #938e8c;
	overflow: auto;
}
header div{
	height: 61px;
	width: 110px;
}
header div span{
	position: relative;
	top: 38px;
	font: 12px "黑体";
}
#redBlock{
	background: #d45d5c;
	color: white;
	text-indent: 1em;
	float: left;
}
#topDate{
	color: #d45d5c;
	float: right;
	text-align: right;
}
.firstPart, .secondPart, .thirdPart{
	margin: 20px 0 10px;
}
.firstPart{
	height: 301px;
}
.firstPartLeft{
	height: 301px;
	width: 641px;
	position: relative;
	margin-right: 24px;
	display: inline-block;
	float:left;
}
.leftBlock, .rightBlock{
	width: 191px;
	height: 301px;
	opacity: 0.3;
}
.leftBlock{
	position: absolute;
	top: 0;
	left: 0;
	float: left;
	background: #75B86B;
}
.rightBlock{
	position: absolute;
	top: 0;
	right: 0;
	background: #D55D5C;
}
#topPicture{
	height: 301px;
	width: 641px;
	display: block;
}
.firstPartRight{
	height: 301px;
	width: 203px;
	border-top: 2px solid #cc8091;
	display: inline-block;
	margin-left: 24px;
	float: right;
}
.firstPartTittle{
	font: 24px "Microsoft Yahei";
	color: #000;
	line-height: 40px;
	text-decoration:underline;
	text-transform:capitalize;
	font-variant:small-caps;
}
.firstPartContent{
	font: 12px "楷体";
	color: #676767;
	line-height: 10px;

}
.firstPartContent:first-letter{
	text-transform:uppercase; 
}
.firstPart700{
	font: italic 116px "Microsoft Yahei";
	color: #75b86b;
	position: relative;
	top: 0;
	left: -15px;
}
.firstPartCSS{
	position: relative;
	top: -12px;
}
.big32{
	font: 55px "Microsoft Yahei";
	color: #cc8091;
	float: left;
}
.bigCSS{
	font: 21px "Microsoft Yahei";
	color: #cc8091;
	position: relative;
	top: 27px;
}
.smallCSS{
	font: 12px "Microsoft Yahei";
	color: #BDBDBD;
	position: relative;
	bottom: -13.5px;
}
.secondPart{
	width: 670px;
	height: 200px;
}
.secondPart h2{
	font: bold 21px "Microsoft Yahei";
	text-decoration:underline;
}
.secondPart p{
	font: 12px "Microsoft Yahei";
	line-height: 16px;
	opacity: 0.7;
}

.firstArticle, .secondArticle, .thirdArticle{
	width: 30%;
	display: inline-block;
	margin-right: 3%;
	float: left;
}
.colorNumber{
	font-style: italic;
	color: #cd4a48;
}

